body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: auto;
    margin-top: 22.5px;
    padding: 50px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 2.5px;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#login_link {
    text-decoration: none;
    color: #5cb85c;
}

#login {
    position: center;
    margin-left: 20px;
}

#reset {
    position: center;
    margin-left: 27.5px;
}

#requirement {
    color: #666;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.5;
    text-align: center;
}